<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mariners Arena{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_base.css') }}">
</head>
<body>
    <!-- Header -->
    <header class="main-header">
  <div class="header-left">
    {% block header_title %}
    {% endblock %}
  </div>
  <div class="header-right">
    {% block header_action %}
    {% endblock %}
  </div>
</header>

    <!-- Main Content -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
